<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Herokuapp" verbose="1">
	 <listeners>
		<listener class-name="selenium.framework.initializers.Listeners" />
	</listeners>
	 <test name="Regression">
		<classes>
			<class name="selenium.framework.testsuite.herokuapp.ChallengingDomPage">
			<methods>
			<include name="challengingDomPageLoad"/>
			</methods>
			</class>
		</classes>
	</test>
</suite>